@import "~inter-ui/inter.css";
@import "~antd/dist/antd.less";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .pageTitle:global(.ant-typography) {
    margin-bottom: 0;
  }

  .singleCard:global(.ant-card) {
    box-shadow: @large-shadow;
    padding: 30px;

    h2:global(.ant-typography) {
      margin-bottom: 1em;
    }
  }

  .ant-card {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
    .ant-card-meta-title {
      font-weight: 600;
    }
  }

  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
  }

  .body {
    color: @primary-color;
  }

  .ant-breadcrumb {
    padding: 0 20px;
    margin: 30px 0;
  }

  .ant-menu-horizontal:not(.ant-menu-dark) {
    border-bottom: none;

    .ant-menu-item-selected {
      border-bottom: none;
    }

    & > .ant-menu-item,
    & > .ant-menu-submenu {
      transition: none;
      margin-top: 0;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }
}
